.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

:root {
    --bs-primary-rgb: 163, 8, 34 !important;
}

.btn-primary {
    background-color: #a30822 !important;
    border-color: #a30822 !important;
}

.commission-preview {
    max-width: 700px;
}

@media only screen and (max-width: 991px) {
    .commission-preview {
        max-width: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .commission-preview {
        max-width: 300px;
    }
}
@media only screen and (max-width: 575px) {
    .commission-preview {
        max-width: 100%;
    }
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
    cursor: pointer;
}