.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

:root {
    --bs-primary-rgb: 163, 8, 34;
}

.btn-primary {
    color: #fff;
    background-color: #a30822;
    border-color: #a30822;
}